
			*{
				margin: none;
				padding: none;
			}
			a:link{

					background: teal;
					color: white;
					font-family: cursive;
					font-weight: 500;
			}
			a:hover{
						
						background: whitesmoke;
						color: black;
				}

			.font{
					position: absolute;
					left: 600px;
					top: 320px;
			}
			.login-box{
					position: absolute;
					top: 300px;
					right: 100px;
					width: 350px;
					height: 450px; 
					box-shadow: 1px -1px 10px 5px black;
					border: 2px solid;
					border-top-color: red;
					border-top-width: 5px;
					border-bottom-color: red;
					border-bottom-width: 5px;
					border-left-color: cyan;
					border-left-width: 5px;
					border-right-color: cyan;
					border-right-width: 5px;
					backdrop-filter: blur(2px);
					border-radius: 15px;
					animation: box 1.5s linear;
					animation-iteration-count:infinite;
					transition: all 1.5s;
				}
				@keyframes box{
							from{
								 border-top-color: red;
								 border-top-width: 5px;
								 border-bottom-color: red;
								 border-bottom-width: 5px;
								 border-left-color: cyan;
								 border-left-width: 5px;
								 border-right-color: cyan;
								 border-right-width: 5px;
								 transition: all 1.5s;

							}
							to{
								 border-top-color: cyan;
								 border-top-width: 5px;
								 border-bottom-color: cyan;
								 border-bottom-width: 5px;
								 border-left-color: red;
								 border-left-width: 5px;
								 border-right-color: red;
								 border-right-width: 5px;
								 transition: all 1.5s;
							}
				}
				.form-btn{
							margin: 20px 80px;
						}

						#login-btn{
								border:1px solid tomato;
								border-radius: 15px;
								background-image: linear-gradient(to right, gold,tomato);
								font-family: monospace;
								font-weight: 500;
								cursor: pointer;
								transition: all 0.5s;
								padding: 10px 20px;

						}

						#login-btn:hover{
										background-image: linear-gradient(to right, tomato, gold);
										color: white;

						}

						#register{

								border:1px solid tomato;
								border-radius: 15px;
								background-image: linear-gradient(to right, gold,tomato);
								font-family: monospace;
								font-weight: 600;
								cursor: pointer;
								transition: all 0.5s;
								padding: 10px 20px;
						}
						#register:hover{
										background-image: linear-gradient(to right, tomato, gold);
										color: white;
						}
						
						.form-group{

									margin: 100px 35px;

						}
						#input-id{
									border-radius: 10px;
									width: 275px;
									padding: 10px 4px;
									outline: none;
									background: none;
									color: whitesmoke;
									transition: all 0.3s;
						}
						#input-id:focus{
											border: 3px solid aqua;
											border-top-style: none;
											box-shadow: 10px 2px 30px black;
						}
					#input-id:focus::placeholder{

													padding: 0 10px;
					}
						#input-pass{
									border-radius: 10px;
									width: 275px;
									padding: 10px 4px;
									outline: none;
									background: none;
									color: whitesmoke;
										font-weight: 500;
										font-style: oblique;

						}
							#input-pass:focus{border: 3px solid aqua;
											 border-top-style: none;
											box-shadow: 10px 2px 30px black;
											 }
							#input-pass:focus::placeholder{
													padding: 0 10px;
					}
						.logo{
								margin: 0px 80px;
								cursor: pointer;
						}

						.submit-btn{
								border:1px solid gold;
								border-radius: 15px;
								background-image: linear-gradient(to right, gold,tomato);
								font-family: monospace,serif;
								font-weight: 600;
								cursor: pointer;
								transition: all 0.5s;
								padding: 15px 120px;
								transform: translate(10px, 10px);
						}
						#email{
									border-top: none;
									border-left: none;
									border-right: none;
									padding: 10px 4px;
						}
						.submit-btn:hover{
										background-image: linear-gradient(to right, gold, tomato,gold);
										color: white;
										text-decoration: underline;
						}

						#Portfolio{
									font-size: 4em;
									text-decoration: 0px 4px 5px yellow;
									color: gold;
									font-family: cursive;
									text-shadow: 5px 2px 2px black;
						}
						#Portfolio:first-letter{
												color: red;
										}
						.check{
								border: none;
								border-radius: 50px;
								color: gold;
								padding: 0px 10px;
								cursor: pointer;
						}
						.check:hover{
									text-decoration: underline;
									color:yellow;
						}
						#paragraph{
								color:white; 
								font-family: monospace,sans-serif;
								 text-shadow: 1px 2px 4px tomato;
						}
					#heading{
							color:white;
						    font-family: monospace; 
							text-shadow: 2px 4px 6px gray;
					}
					#logIcon{
								width: 80px;
								height: 80px;
								position:absolute;
								top: 70px;
								left: 130px;
					}